<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="dao.AppMapper">
<select id="queryAPP" resultType="AppInfo" parameterType="AppInfo">
	select id,softwareName,apkName,softwareSize,(select valueName from data_dictionary d where a.flatformId=d.valueId and d.typeName='所属平台') as flatformName
,downloads,(select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态')
 as statusName,(select categoryName from app_category c where a.categoryLevel1=c.id) as categoryLevel1Name,categoryLevel2,categoryLevel1,
(select categoryName from app_category c where a.categoryLevel2=c.id) as categoryLevel2Name,versionid,categoryLevel3,
(select categoryName from app_category c where a.categoryLevel3=c.id) as categoryLevel3Name,(select versionNo from app_version v where a.versionId=v.id) as versionNo
from app_info a where a.`status`=1
		<if test="softwareName!=null and softwareName!=''">
		and softwareName LIKE concat('%',#{softwareName},'%') 
	</if>
	<if test="flatformId!=null and flatformId!=0">
		and flatformId =#{flatformId}
	</if>
	<if test="categoryLevel1!=null and categoryLevel1!=0">
		and categoryLevel1 =#{categoryLevel1}
	</if>
	<if test="categoryLevel2!=null and categoryLevel2!=0">
		and categoryLevel2 = #{categoryLevel2}
	</if>
	<if test="categoryLevel3!=null and categoryLevel3!=0">
		and categoryLevel3 =#{categoryLevel3}
	</if>
	LIMIT #{currentPageNo},#{num}
	</select>
	<!-- 查询APP条数 -->
	<select id="queryAPP1" resultType="int" parameterType="AppInfo">
	select count(id),softwareName,apkName,softwareSize,(select valueName from data_dictionary d where a.flatformId=d.valueId and d.typeName='所属平台') as flatformName
,downloads,(select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态')
 as statusName,(select categoryName from app_category c where a.categoryLevel1=c.id) as categoryLevel1Name,
(select categoryName from app_category c where a.categoryLevel2=c.id) as categoryLevel2Name,versionid,
(select categoryName from app_category c where a.categoryLevel3=c.id) as categoryLevel3Name,(select versionNo from app_version v where a.versionId=v.id) as versionNo
from app_info a where a.`status`=1
		<if test="softwareName!=null and softwareName!=''">
		and softwareName LIKE concat('%',#{softwareName},'%') 
	</if>
	<if test="flatformId!=null and flatformId!=0">
		and flatformId =#{flatformId}
	</if>
	<if test="categoryLevel1!=null and categoryLevel1!=0">
		and categoryLevel1 =#{categoryLevel1}
	</if>
	<if test="categoryLevel2!=null and categoryLevel2!=0">
		and categoryLevel2 = #{categoryLevel2}
	</if>
	<if test="categoryLevel3!=null and categoryLevel3!=0">
		and categoryLevel3 =#{categoryLevel3}
	</if>
	</select>
	<select id="queryApp1" resultType="AppCategory">
		select * from app_category where parentId is NULL
	</select>
	<select id="queryApp3" resultType="AppCategory">
		select * from app_category 
	</select>
	<select id="queryApp2" resultType="AppCategory" parameterType="Object">
		select * from app_category where parentId =#{pid}
	</select>
	<select id="queryType" resultType="DataDictionary">
		select * from data_dictionary where typeName='所属平台'
	</select>
	<select id="queryVersionid" resultType="AppInfo" parameterType="Object">
		select id,softwareName,apkName,supportROM,interfaceLanguage,softwareSize,downloads,
		(select valueName from data_dictionary d where a.flatformId=d.valueId and d.typeName='所属平台') as flatformName
		,(select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态')
		 as statusName,(select categoryName from app_category c where a.categoryLevel1=c.id) as categoryLevel1Name,
		(select categoryName from app_category c where a.categoryLevel2=c.id) as categoryLevel2Name,versionid,
		(select categoryName from app_category c where a.categoryLevel3=c.id) as categoryLevel3Name,
		(select versionNo from app_version v where a.versionId=v.id) as versionNo,appInfo,logoPicPath
		from app_info a where a.`status`=1 
		and versionid=#{versionid}
	</select>
	<select id="queryVId" resultType="AppVersion" parameterType="Object">
		select versionNo,versionSize,versionInfo,apkFileName,downloadLink from app_version where id=#{id}
	</select>
	<update id="updapp">
		UPDATE app_info set status=#{status} where id=#{id}
	</update> 
</mapper>