<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="dao.DevUserMapper">

	<!-- 登陆 -->
	<select id="login" resultType="DevUser">
	SELECT *FROM dev_user WHERE devCode=#{devCode} and devPassword=#{devPassword}
	</select>
	
	
	<!--  查询用户是否存在-->
	<select id="queryName" resultType="DevUser">
		SELECT *from dev_user WHERE devCode=#{devCode}
	</select>
	<!-- 查询密码是否存在 -->
	<select id="queryPwd" resultType="DevUser">
		SELECT *from dev_user WHERE devPassword=#{devPassword}
	</select>
	
	<!-- 模糊查询 -->
<!-- 	<select id="Arrlist" resultType="AppInfo" parameterType="AppInfo">
	select softwareName,apkName,softwareSize,(select valueName from data_dictionary d where a.flatformId=d.valueId and d.typeName='所属平台') as flatformName
	,downloads,(select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态' and b.valueId  LIKE CONCAT('%',#{versionId},'%'))
	 as statusName,(select categoryName from app_category c where a.categoryLevel1=c.id) as categoryLevel1Name,
	(select categoryName from app_category c where a.categoryLevel2=c.id) as categoryLevel2Name,
	(select categoryName from app_category c where a.categoryLevel3=c.id) as categoryLevel3Name
	from app_info a where (select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态' and b.valueId  LIKE CONCAT('%',#{versionId},'%'))  LIKE CONCAT('%',#{versionNo},'%')
	and softwareName  LIKE CONCAT('%',#{softwareName},'%') and flatformId  LIKE CONCAT('%',#{flatformId},'%')
	and categoryLevel1  LIKE CONCAT('%',#{categoryLevel1},'%')
	and (select categoryName from app_category c where a.categoryLevel2=c.id)  LIKE CONCAT('%',#{categoryLevel3},'%')
	and (select categoryName from app_category c where a.categoryLevel3=c.id)  LIKE CONCAT('%',#{categoryLevel2},'%')
		
	</select>
	 -->
	<!-- 动态三级分类 -->
<!-- 	<select id="categoryLevel" resultType="AppInfo">
	SELECT *from app_category
	<where>
		<if test=""></if>
	</where>
	
	</select> -->

<select id="ListAPP" resultType="AppInfo" parameterType="AppInfo">
	select softwareName,apkName,softwareSize,(select valueName from data_dictionary d where a.flatformId=d.valueId and d.typeName='所属平台') as flatformName
	,downloads,(select valueName from data_dictionary b where a.status=b.valueId and b.typeName='APP状态' and b.valueId=1)
 	as statusName,(select categoryName from app_category c where a.categoryLevel1=c.id) as categoryLevel1Name,
	(select categoryName from app_category c where a.categoryLevel2=c.id) as categoryLevel2Name,
	(select categoryName from app_category c where a.categoryLevel3=c.id) as categoryLevel3Name,
	(select versionNo from app_version v where a.versionId=v.id) as versionNo
	from app_info a
<where>
	<if test="softwareName!=null and softwareName!=''">
		and softwareName LIKE concat('%',#{softwareName},'%') 
	</if>
	
	<if test="flatformId!=0">
		and flatformId =#{flatformId}
	</if>
	
	<if test="categoryLevel1!=0">
		and categoryLevel1 =#{categoryLevel1}
	</if>
	
	<if test="categoryLevel2!=0">
		and categoryLevel2 = #{categoryLevel2}
	</if>
	
	<if test="categoryLevel3!=0">
		and categoryLevel3 =#{categoryLevel3}
	</if>
	<if test="status!=0">
		and status=#{status}
	</if>
	</where>
	
</select>

</mapper>